@page "{id:int}"
@model DetailsModel
@{
    ViewData["Title"] = Model.Author.FullName;
}

<div class="d-flex justify-content-between mb-3">
    <h2>@Model.Author.FullName</h2>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Author.Id" class="btn btn-warning">Edit</a>
        <a asp-page="./Index" class="btn btn-outline-secondary ms-1">Back</a>
    </div>
</div>

<dl class="row">
    <dt class="col-sm-3">Birth Date</dt>
    <dd class="col-sm-9">@Model.Author.BirthDate.ToString("MMMM d, yyyy")</dd>
    <dt class="col-sm-3">Books</dt>
    <dd class="col-sm-9">@Model.Author.BookCount</dd>
</dl>

@if (!string.IsNullOrEmpty(Model.Author.Biography))
{
    <h5>Biography</h5>
    <p>@Model.Author.Biography</p>
}
